.brands {
    padding: 2rem 4rem;
}

.brand-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.brand-logo {
    flex: 1;
    max-width: calc(20% - 1rem);
    min-width: calc(20% - 1rem);
}

/* .brand-logo img {
    max-width: 100%;
    height: auto;
    display: block;
} */

.sort-filter{
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.sort-filter>button{
    all: unset;
    color: var(--shadeswhite);
    background-color: var(--primarymain);
    border-radius: 50px;
    padding: 0.5rem;
    /* justify-content: center; */
}

.filter-by-date{
    justify-content: sp;
}

@media (max-width: 768px) {
    .brand-logo {
        max-width: calc(33.33% - 1rem);
        min-width: calc(33.33% - 1rem);
    }
}

@media (max-width: 576px) {
    .brand-logo {
        max-width: calc(50% - 1rem);
        min-width: calc(50% - 1rem);
    }
}