.footer {
    padding: 2rem 4rem;
    background-color: var(--primarydark);
    color: var(--shadeswhite);
    display: flex;
    flex-direction: column;
}

.footer-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.left-section {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.links-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

ul {
    padding-inline-start: 0;
    padding-inline-end: 5rem;
}

.right-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.job-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}