.what-we-do {
    padding: 2rem 4rem;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* gap: 5px; */
}

.service {
    width: calc(20%);
    /* padding: 2rem 0; */
}

.service img {
    /* width: 64px;
    height: 64px; */
    margin: 0 auto 1rem;
}

.service-title {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.service-description {
    font-size: 1rem;
}